trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  BASE_URL: 'https://bakkappan.github.io/Testers-Talk-Practice-Site/'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

- script: npm ci
  displayName: 'Install dependencies'

- script: npx playwright install --with-deps
  displayName: 'Install Playwright Browsers'

- script: npx playwright test --grep @smoke
  displayName: Run Smoke Tests
  env:
    BASE_URL: $(BASE_URL)

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '**/results.xml'
    failTaskOnFailedTests: true
  condition: succeededOrFailed()

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'playwright-report'
    ArtifactName: 'playwright-report'
    publishLocation: 'Container'