name: Playwright Tests

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      BASE_URL: https://bakkappan.github.io/Testers-Talk-Practice-Site/

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 18

    - name: Install dependencies
      run: npm ci

    - name: Install Playwright browsers
      run: npx playwright install --with-deps

    - name: Run tests
      run: |
        if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
          echo "Running full suite"
          npx playwright test
        else
          echo "Running smoke tests"
          npx playwright test --grep "@smoke"
        fi
      env:
        USERNAME: ${{ secrets.USERNAME }}
        PASSWORD: ${{ secrets.PASSWORD }}

    - name: Upload HTML report
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-report
        path: playwright-report/

    - name: Upload JUnit report
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: junit-results
        path: results.xml